<!-- servicios/templates/inicio.html -->

{% extends 'base.html' %}

{% block title %}Inicio - Sistema de Asignación de Citas{% endblock %}

{% block header %}
    <h2>Bienvenido al Sistema de Asignación de Citas</h2>
{% endblock %}

{% block content %}
    <article>
        <h2>¡Reserva tu cita con facilidad y comodidad!</h2>
        <p>En Nail Salón, valoramos tu tiempo y sabemos que deseas una experiencia de reserva sencilla y agradable. 
            Por eso, hemos implementado un sistema de citas online que te permite reservar
             tu servicio de manicura y pedicura con solo unos pocos clics, 
            desde cualquier lugar y en cualquier momento.
        </p> 
    </article>
    <aside>
        <!-- Espacio reservado para contenido adicional -->
    Banner
    </aside>
{% endblock %}